/*
 This file is part of Moodle - http://moodle.org/
 Moodle is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Moodle is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Moodle.  If not, see <http://www.gnu.org/licenses/>.*//*
*/

/* ADMIN: registration */
#page-admin-local-hub-admin-register .buttoncenter {text-align: center}

/* ADMIN: hub settings */
#page-admin-local-hub-admin-settings .adminhubdescription {width: 400px; height: 120px; padding: 2px;}
#page-admin-local-hub-admin-settings .admintextfield {width: 400px;}
#page-admin-local-hub-admin-settings .admincurrentimage {vertical-align: top;}

/* Site registration page */
#page-admin-local-registration-index .centeredbutton {text-align: center}
#page-admin-local-registration-index .cell {border-width: 0 1px;}
#page-admin-local-registration-index .justifytext {text-align: justify}


/* ADMIN: manage sites */
#page-admin-local-hub-admin-managesites .trustedtr {background-color: #ffe1c3;}
#page-admin-local-hub-admin-managesites .prioritisetr {background-color: #ffd4ff;}
#page-admin-local-hub-admin-managesites .additionaldesc {font-size: 80%; color: #B8860B;}
#page-admin-local-hub-admin-managesites .additionaladmindesc {font-size: 80%; color: #6666ff;}


/*ADMIN: manage courses */
#page-admin-local-hub-admin-managecourses .additionaldesc {font-size: 80%; color:  #B8860B;}
#page-admin-local-hub-admin-managecourses .coursesitelink {font-size: 80%;}
#page-admin-local-hub-admin-managecourses .coursecomment {float: right;}
#page-admin-local-hub-admin-managecourses .courselinks {float: right;width: 180px}
#page-admin-local-hub-admin-managecourses .hubadminoperations {}
#page-admin-local-hub-admin-managecourses .courseoperations {margin-top:9px; text-align:center}
#page-admin-local-hub-admin-managecourses .coursescreenshot {text-align:center;}
#page-admin-local-hub-admin-managecourses .fullhubcourse {margin-bottom: 20px;}
#page-admin-local-hub-admin-managecourses .hubcoursedelete {float: left;}
#page-admin-local-hub-admin-managecourses .hubcoursevisible {float: left;padding-right: 4px;}
#page-admin-local-hub-admin-managecourses .pagingbar {text-align: center;}
#page-admin-local-hub-admin-managecourses .hubcoursedownload:hover {background-color: #d45500;}
#page-admin-local-hub-admin-managecourses .hubcoursedownload {
    display: inline-block;
    padding: 5px 8px 6px;
    color: #fff;
    text-decoration: none;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer;
    background-color: #F7B500;
    margin-left: 6px;
    font-size: 95%;
}
#page-admin-local-hub-admin-managecourses .coursedescription {float: left; width: 70%;}
#page-admin-local-hub-admin-managecourses .hubcoursetitle {
    -webkit-box-shadow: rgba(0, 0, 0, 0.546875) 0px 0px 4px;
    -moz-box-shadow: rgba(0, 0, 0, 0.546875) 0px 0px 4px;
    background: #B8860B;
    left: -15px;
    position: relative;
    z-index: 100;
    border: 0px;
    font-size: 100%;
    margin: 0px;
    outline: 0px;
    padding: 0px;
    vertical-align: baseline;
    font-size: 30px;
    color: #fff;
    padding-top: 6px;
    padding-bottom: 6px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    text-align: left;
    font-style:italic;
    font-weight:normal;
    line-height:1.2em;
    font-size: 140%;
    color: #fff;
    width: 102%;
    text-indent: 15px;
}
#page-admin-local-hub-admin-managecourses .hubcourseresult {
    background:none repeat scroll 0 0 #FFFFFF;
    clear:both;
    margin:30px auto 0;
    z-index:90;
    width: 95%;
    padding: 10px 10px 10px 10px;
    border-style: solid;
    border-width: 1px;
}
#page-admin-local-hub-admin-managecourses .hubcourseinfo {}
#page-admin-local-hub-admin-managecourses .hubcoursesettings {}
#page-admin-local-hub-admin-managecourses .hubbulkselect {margin-top: 13px; margin-left: 15px; float: left;}
#page-admin-local-hub-admin-managecourses .hubbulkbutton { margin-left: 15px; margin-top: 13px;}


/* FRONT PAGE */
#page-site-index .additionaldesc {font-size: 80%; color: #B8860B;}
#page-site-index .comment-link {font-size: 80%; color: #555555;}
#page-site-index .coursescreenshot {text-align:center;}
#page-site-index .pagingbar {text-align: center;}
#page-site-index .coursecomment {float: right;}
#page-site-index .courseoperations {margin-top:9px; text-align:center}
#page-site-index .hubcoursedownload:hover {background-color: #d45500;}
#page-site-index .courselinks {float: right;width: 180px}
#page-site-index .ratingaggregate {float: left; padding-right: 4px;}
#page-site-index .hubcourserating { padding-top: 3px; font-size: 80%; font-weight: bold;
   color:#8B8989;}
#page-site-index .hubcoursecomments { padding-top: 3px; 
   color:#8B8989;}
#page-site-index .coursedescription {width: 70%; float: left;}
#page-site-index .hubcoursetitle {
    -webkit-box-shadow: rgba(0, 0, 0, 0.546875) 0px 0px 4px;
    -moz-box-shadow: rgba(0, 0, 0, 0.546875) 0px 0px 4px;
    background: #B8860B;
    left: -15px;
    position: relative;
    z-index: 0;
    border: 0px;
    font-size: 100%;
    margin: 0px;
    outline: 0px;
    padding: 0px;
    vertical-align: baseline;
    font-size: 30px;
    color: #fff;
    padding-top: 6px;
    padding-bottom: 6px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    text-align: left;
    font-style:italic;
    font-weight:normal;
    line-height:1.2em;
    font-size: 140%;
    color: #fff;
    width: 102%;
    text-indent: 15px;
}

#page-site-index .fullhubcourse {margin-bottom: 20px;}
#page-site-index .hubcoursedownload {
    display: inline-block;
    padding: 5px 8px 6px;
    color: #000;
    text-decoration: none;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer;
    background-color: #F7B500;
    margin-left: 6px;
    font-size: 95%;
}
#page-site-index .comment-list li {
    background-color:#FFD970 !important;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    padding-right: 4px;
    padding-bottom: 2px;
}
#page-site-index .hubcourseresult {
    background:none repeat scroll 0 0 #FFFFFF;
    clear:both;
    margin:30px auto 0;
    z-index:90;
    width: 95%;
    padding: 10px 10px 10px 10px;
    border-style: solid;
    border-width: 1px;
}
#page-site-index  .hubcourseinfo {margin-left: 15px;}
#page-site-index  .coursesitelink {}

#page-site-index .norating {
   font-weight: bold;
   color:#8B8989;
   font-size: 80%;
}

#page-site-index .nocomments {
   font-weight: bold;
   color:#8B8989;
   font-size: 80%;
}