body {background-color: #FFF;color: black;font: 12px/1.4 arial,FreeSans,Helvetica,sans-serif;min-width:900px;}
html, body, p, div, h1, h2, h3, h4, h5, h6, img, ul, ol, li, dl, dt, dd, pre, form, fieldset, textarea, input, select, option, button {margin: 0;padding: 0;}

a:link, 
a:visited, 
a:hover, 
a:active {color: #3C78B5;}

#header a:link, 
#header a:visited {color: black;}
#header a:hover {color: #ff0000;}

#header-logo {min-height: 3em;padding-left: 1em;}
#header-logo img {margin:0.5em 0;}

#moodle-menu {background-color:#FFE39D;background-image:url(/spam/images/menu_gradient.jpg);background-repeat:repeat-x;height:24px;border-top:1px solid #FFE39D;border-bottom:1px solid #E4AF5F;}
#header:after {clear: both;content: ".";display: block;height: 0;min-width: 0;visibility: hidden;}
#moodle-menu .moodle-menuitem {position:relative;line-height:24px;float:left;border-right:1px solid #FFB63C;font-size:1.08333em;list-style-type: none;}
#moodle-menu .moodle-menuitem.finalitem {border-right-width:0}
#moodle-menu .moodle-menuitem.withchildren {background-image:url(/spam/images/arrow.gif);background-repeat:no-repeat;background-position:95% 50%;padding-right:2px;}
#moodle-menu .moodle-menuitem a:link,
#moodle-menu .moodle-menuitem a:visited,
#moodle-menu .moodle-menuitem a:hover {padding:0 1em;text-decoration:none;}
#moodle-menu .moodle-sub-menu {display:none;position:absolute;top:100%;left:0;background-color:#FFE39D;white-space:nowrap;padding:1px;z-index:5000;}
#moodle-menu .moodle-sub-menu .moodle-menuitem {width:100%;border-right-width:0;font-size:1em;line-height:32px;float:none;}
#moodle-menu .moodle-sub-menu .moodle-menuitem a {}
#moodle-menu .moodle-menuitem:hover {background-color:#FFF;}
#moodle-menu .moodle-menuitem:hover > .moodle-sub-menu,
#moodle-menu .moodle-menuitem:active > .moodle-sub-menu {display:block;}

#moodle-global-search {float:right;}
#moodle-global-search .input-text {border:1px solid #FFB63C;font-size:12px;font-family:Arial,Sans-Serif;}
#moodle-global-search .input-submit {font-size:1.08333em;font-family:Arial,Sans-Serif;}

#error-box {margin:5em auto 2em;max-width:800px;border: 1px solid #BBB;-moz-border-radius: 2px;-webkit-border-radius:2px;background-color:#FFF;}
#error-box .heading {background-color:#FFCD46;color:#444;padding:6px 5px 5px;font-size: 12px;padding: 4px 4.5em 2px 0.6em;min-height: 18px;border-bottom:1px solid #BBB;}
#error-box p {padding:6px 5px 5px;}

#content {min-height:400px;}

#links {text-align:center;margin:1em;color:#444;}
#links ul li {list-style-type: none;}

#moodlesitelink {padding-top: 2em;text-align: center;background-image: url(/spam/images/border_bottom.gif);background-repeat: repeat-x;}
