/* This is CSS for moodle.org only */

table.frontpagetable {
  margin-top:10px;
}

table.frontpagetable td {
  padding:0px;
  height:150px;
  width:33%;
}

table.frontpagetable td div {
  text-align:center;
  background-image: url(pix/background_rev_1.jpg);
  margin: 10px;
  border: 1px solid #ffe39d;
}

table.frontpagetable td.c0 div {
  margin-left: 18px;
  margin-right: 8px;
}

table.frontpagetable td.c1 div {
  margin-left: 12px;
  margin-right: 12px;
}

table.frontpagetable td.c2 div {
  margin-left: 8px;
  margin-right: 18px;
}

p.tagline {
  margin-top:30px;
  text-align:center;
}

.showroom {
  clear: both;
  width: 100%;
  padding: 0;
  margin: 0;
  min-height: 10em;
  border-style: none;
  border-bottom: 0.1em solid #ffe39d;
  border-top: 0.16em solid #E4AF5F;
  z-index: 0;
  background: #fffcf6 url(pix/navbar_bg.jpg) repeat-x left top;
}

.showroom div {
 padding-top:25px;
 padding-left:18px;
 padding-right:18px;
}

div.moodletop {
  margin-top:15px;
}

img.frontpagesectionimage {
  float: right;
  margin-left: 30px;
  margin-bottom: 10px;
}

body#news-index img.frontpagesectionimage {
  float: left;
  margin-right: 5px;
  margin-left: 0px;
}

/*
body#support-index #middle-column {
  background: url('pix/support-background.jpg') no-repeat top right;
  background-color: #FFFFFF;
}
*/

div.moodletop.eventsimage {
  text-align:center;
}

ul.moodletop.networkhosts {
  list-style: none;
  padding: 20px;
  font-size: 1.5em;
}

body#index2 td#middle-column {
  padding: 0;
}

span#maincontent {
  display: inline;
  height: 0px;
  width: 0px;
}

.course-1 h2.main {
  text-align:center;
  font-size:1.5em;
}

body#site-index #layout-table #middle-column {
  padding-left:0px;
  padding-right:0px;
  padding-top:0px;
}

body#site-index .generalbox th, .generalbox td {
  border-bottom:none;
}

#course-view .section .commands a {
  width:17px;
}



a.frontpagelink {
  text-decoration: none;
  display: block;
  padding: 7px;
}

a.frontpagelink:hover {
  background-color: #FEF9E6;
}

div.frontpagefootericons {
  text-align:center;
  margin-top: 40px;
}

div.frontpagefootericons img {
  margin-left: 20px;
  margin-right: 20px;
}

.block_login .loginform .fld input {
  width:8em;
}

#calendar .sidecalendar {
  width:200px;
}

.singlebutton.forumaddnew {
  margin-bottom: 20px;
}

#networkstatus {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align:center;
}

h3.moodletop {
  margin-top: 30px;
  margin-bottom: 10px;
}

div.moodletop {
  margin-left: 30px;
}

div.moodletop.intro {
  margin-left: 0px;
}

div.moodletop.link {
  margin-left: 42px;
  margin-bottom: 10px;
  margin-top:10px;
}

body#forums-my-index ul.unlist {
  margin-top: 30px;
  margin-bottom: 30px;
}

body#forums-my-index div.moodletop.link {
  text-align:right;
}

.posting-intro {
  display: none;
}
#mod-forum-post .normal-intro {
  display: none;
}
#mod-forum-post .posting-intro {
  display: block;
}

.aboutvideo .mediaplugin {
  text-align: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

