#error-box {margin:5em auto 2em;max-width:800px;border: 1px solid #BBB;-moz-border-radius: 2px;-webkit-border-radius:2px;background-color:#FFF;font: 12px/1.4 arial,FreeSans,Helvetica,sans-serif;min-width:800px;}
#error-box .heading {background-color:#FFCD46;color:#444;padding:6px 5px 5px;font-size: 12px;padding: 4px 4.5em 2px 0.6em;min-height: 18px;border-bottom:1px solid #BBB;}
#error-box p {padding:6px 5px 5px;}
#links {text-align:center;margin:1em;}
#links ul li {list-style-type: none;}
